.searchInput {
     border : 0px;
     border-radius: 15px 0px 0px 15px;
       
      
     
}

.searchButton {
    border: 0px;
    color:black;
    border-radius: 15px 0px 0px 15px;
    background-color: white;
  
    
}






